<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubbles Unlmtd</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <%- include("header") %>
    <form action="/Appointment" method="post">
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Appointment</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base"></p>
              </div>
              <div class="lg:w-2/3 w-full mx-auto overflow-auto">
                <table class="table-auto w-full text-left whitespace-no-wrap">
                  <thead>
                    <tr>
                      <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Plan</th>
                      <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Date</th>
                      <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">time</th>
                      <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Price</th>
                      <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="px-4 py-3">Gold</td>
                      <td class="px-4 py-3">today</td>
                      <td class="px-4 py-3">3:00pm</td>
                      <td class="px-4 py-3 text-lg text-gray-900">$85.95</td>
                      <td class="w-10 text-center">
                        <input name="plan" type="radio">
                      </td>
                    </tr>
                    <tr>
                      <td class="border-t-2 border-gray-200 px-4 py-3">Gold</td>
                      <td class="border-t-2 border-gray-200 px-4 py-3">today</td>
                      <td class="border-t-2 border-gray-200 px-4 py-3">5:00pm</td>
                      <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">$85.95</td>
                      <td class="border-t-2 border-gray-200 w-10 text-center">
                        <input name="plan" type="radio">
                      </td>
                    </tr>
                    <tr>
                      <td class="border-t-2 border-gray-200 px-4 py-3">Gold</td>
                      <td class="border-t-2 border-gray-200 px-4 py-3">Tomorrow</td>
                      <td class="border-t-2 border-gray-200 px-4 py-3">3:00pm</td>
                      <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">$65.95</td>
                      <td class="border-t-2 border-gray-200 w-10 text-center">
                        <input name="plan" type="radio">
                      </td>
                    </tr>
                    <tr>
                      <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">Gold</td>
                      <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">Tomorrow</td>
                      <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">5:00pm</td>
                      <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3 text-lg text-gray-900">$65.95</td>
                      <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
                        <input name="plan" type="radio">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/">Logout
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <button href="/" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Email Confirmation</button>
              </div>
            </div>
          </section>
    
    </form>
    <%- include("footer") %>
</body>
</html>