<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bubbles Unlmtd</title>
  <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    
    <%- include("header") %>
  
    <form action="/signup" method="post">
          <section class="text-gray-600 body-font">
              <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
              <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
                  <h1 class="title-font font-medium text-3xl text-gray-900">If your car could talk, what would it say?</h1>
                  <p class="leading-relaxed mt-4">Silence is worth 1000 words</p>
              </div>
              <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                  <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Create Account</h2>
                  <div class="relative mb-4">
                  <label for="username" class="leading-7 text-sm text-gray-600">username</label>
                  <input type="username" id="username" name="username" placeholder="owner123" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
                  <div class="relative mb-4">
                  <label for="firstName" class="leading-7 text-sm text-gray-600">First Name</label>
                  <input type="firstName" id="firstName" name="firstName" placeholder="" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
                  <div class="relative mb-4">
                  <label for="lastName" class="leading-7 text-sm text-gray-600">Last Name</label>
                  <input type="lastName" id="lastName" name="lastName" placeholder="" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
                  <div class="relative mb-4">
                  <label for="email" class="leading-7 text-sm text-gray-600">email</label>
                  <input type="email" id="email" name="email" placeholder="ooo@oo.com" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
                  <div class="relative mb-4">
                  <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
                  <input type="password" id="password" name="password"  value="password" placeholder="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
                  <div class="relative mb-4">
                  <label for="carDescrpition" class="leading-7 text-sm text-gray-600">Car Type (make, model, year, ect.)</label>
                  <input type="carDescrpition" id="carDescrpition" name="carDescrpition" placeholder="Honda,Civic,Blk,1995" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
                  <input type="submit" name="" id="" value="Create Account" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                  <p class="text-xs text-gray-500 mt-3">Terms and Conditions</p>
              </div>
              </div>
          </section>
      </form>
    <%- include("footer") %>
</body>
</html>